{% extends 'base.html' %}
{% block title %}Lionel's Blog{% endblock title %}
{% block main %}
<div id="main">
    <section class="archives-wrap">
    {% regroup posts by createdTime.year as year_group %}
    {% for year in year_group %}
        <div class="archive-year-wrap">
            <span class="archive-year">{{ year.grouper }}</span>
        </div>
        <div class="archives">
        {% for post in year.list %}
            <article class="archive-article archive-type-post">
                <div class="archive-article-inner">
                    <header class="archive-article-header">
                        <a href="#" class="archive-article-date">
                            <time>{{ post.createdTime.year }}年{{ post.createdTime.month }}月</time>
                        </a>
                        <h1 itemprop="name">
                            <a class="archive-article-title" href="/post/details/{{ post.id }}">{{ post.title }}</a>
                        </h1>
                    </header>
                </div>
            </article>
        {% endfor %}
        </div>
    {% endfor %}
    </section>
</div>
{% endblock main %}